---
import InsightItem from "../components/InsightItem.astro";
import InsightList from "../components/InsightList.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const countries = await getCollection("countries");
  return countries.map((country) => ({
    params: { country: country.data.slug },
    props: { country: country.data }
  }));
}

const { country } = Astro.props;
const [tops, topics] = await Promise.all([
  getEntry("countryInsights", country.id)!.then((t) => t.data),
  getCollection("topics")
]);

const getTopic = (id: string) => {
  return topics.find((topic) => topic.id === id)!.data;
};

const bestIn = tops
  .filter((it) => it.type === "GOOD")
  .sort((a, b) => b.year - a.year)
  .map((item) => ({
    ...item,
    topics: item.topicIds.map(getTopic)
  }));
const worstIn = tops
  .filter((it) => it.type === "BAD")
  .sort((a, b) => b.year - a.year)
  .map((item) => ({
    ...item,
    topics: item.topicIds.map(getTopic)
  }));
---

<Layout title={`Country: ${country.name}`}>
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-good">{country.name} in the Lead</h2>
      <InsightList list={bestIn} type="GOOD" />
    </div>
    <div>
      <h2 class="text-bad">{country.name} Falling Behind</h2>
      <InsightList list={worstIn} type="BAD" />
    </div>
  </div>
</Layout>
