---
import BestWorstCountries from "../components/BestWorstCountries.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { localesProvider } from "../locales";

export async function getStaticPaths() {
  const topics = await getCollection("topics");
  return topics.map((topic) => ({
    params: { topic: topic.id },
    props: { topic: topic.data }
  }));
}

const { topic } = Astro.props;
const [countryInsights, countries] = await Promise.all([
  getCollection("countryInsights"),
  getCollection("countries").then((countries) =>
    countries.map((country) => country.data)
  )
]);
const insights = countryInsights
  .map((insight) =>
    insight.data.map((it) => ({
      ...it,
      countryId: insight.id
    }))
  )
  .flat();

const relatedInsights = insights.filter((insight) =>
  insight.topicIds.includes(topic.id)
);

const locales = localesProvider.lang("en");
const title = locales.topic_page_title(topic.name);
const description = locales.topic_page_description(topic.name);
const canonical = `/${topic.id}/`;
---

<Layout title={title} description={description} canonical={canonical}>
  <div class="flex flex-col gap-6">
    <div>
      <h2 class="text-center">{title}</h2>
      <p class="text-center text-gray-500 text-sm">
        {description}
      </p>
    </div>
    <BestWorstCountries insights={relatedInsights} countries={countries} />
    <h2 class="text-center">Global – {locales.home_page_title()}</h2>
    <BestWorstCountries insights={insights} countries={countries} />
  </div>
</Layout>
