---
import BestWorstCountries from "../components/BestWorstCountries.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { localesProvider } from "../locales";

const [countryInsights, countries] = await Promise.all([
  getCollection("countryInsights"),
  getCollection("countries").then((countries) =>
    countries.map((country) => country.data)
  )
]);
const insights = countryInsights
  .map((insight) =>
    insight.data.map((it) => ({
      ...it,
      countryId: insight.id
    }))
  )
  .flat();

const locales = localesProvider.lang("en");
const title = locales.home_page_title();
const description = locales.home_page_description();
const canonical = "/";
---

<Layout
  title={title}
  description={description}
  canonical={canonical}
  imageUrl="/index.png"
>
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-center">{title}</h2>
      <p class="text-center text-gray-500 text-sm">
        {description}
      </p>
    </div>
    <BestWorstCountries insights={insights} countries={countries} />
  </div>
</Layout>
