---
import BestWorstCountries from "../components/BestWorstCountries.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { localesProvider } from "../locales";
import Country from "./[country].astro";
import { getCountrySummary } from "../../scripts/common/helpers";
import CountryTopList from "../components/CountryTopList.astro";
import { MAIN_INDICATOR_IDS } from "../config";

const [countryInsights, countries, summaries] = await Promise.all([
  getCollection("countryInsights"),
  getCollection("countries").then((countries) =>
    countries.map((country) => country.data)
  ),
  getCountrySummary()
]);
const insights = countryInsights
  .map((insight) =>
    insight.data.map((it) => ({
      ...it,
      countryId: insight.id
    }))
  )
  .flat();

const locales = localesProvider.lang("en");
const title = locales.best_countries_in_the_world();
const description = locales.best_countries_in_the_world_description({
  indicatorCount: MAIN_INDICATOR_IDS.length
});
const canonical = "/";
---

<Layout
  title={title}
  description={description}
  canonical={canonical}
  imageUrl="/index.png"
>
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-center">{title}</h2>
      <p class="text-center text-gray-500 text-sm">
        {description}
      </p>
    </div>
    <CountryTopList list={summaries} countries={countries} />
    <br/>
    <div>
      <h2 class="text-center">{locales.countries_at_the_extremes()}</h2>
      <p class="text-center text-gray-500 text-sm">
        {locales.countries_at_the_extremes_description()}
      </p>
    </div>
    <BestWorstCountries insights={insights} countries={countries} />
  </div>
</Layout>
