---
import type { InsightInfo, TopicInfo } from "../content/common/types";

const { item, topics } = Astro.props as {
  item: InsightInfo;
  topics: TopicInfo[];
};
---

<h4>
  {item.emoji}
  {item.title}
</h4>
<p class="text-secondary line-clamp-2">
  {item.description}
</p>
<p class="flex flex-wrap gap-2 items-center justify-center">
  {
    topics.slice(0, 2).map((topic) => (
      <a class="a inline-block" href={`/${topic.id}/`}>
        {topic.name}
      </a>
    ))
  }
</p>
