---
import type { InsightInfo, TopicInfo } from "../content/common/types";

const { title, description, emoji, topics } = Astro.props as InsightInfo & {
  topics: TopicInfo[];
};
---

<h4>
  {emoji}
  {title}
</h4>
<p class="text-secondary">{description}</p>
<p class="topics">
  {topics.map((topic) => <a href={`/${topic.id}`}>{topic.name}</a>)}
</p>

<style>
  .topics {
    display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
  }

  .topics a {
		display: inline-block;
  }
</style>
