---
import { localesProvider } from "../locales";
import SearchButton from "../components/SearchButton.astro";
import SearchModal from "../components/SearchModal.astro";
import "../styles/global.css";
const { title, description, canonical, imageUrl } = Astro.props;
const pageUrl = "https://bestin.world" + (canonical ? canonical : "");
const pageTitle = title + " - BestIn.world";
const pageDescription = description || "BestIn.world";
const locales = localesProvider.lang(Astro.props.lang || "en");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BestIn.world" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="canonical" href={pageUrl} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content={pageUrl} />
    {
      imageUrl && (
        <meta property="og:image" content={`https://bestin.world${imageUrl}`} />
      )
    }
  </head>
  <body>
    <header>
      <div class="max-w-[64rem] m-auto flex items-center justify-between px-4">
        <nav>
          <ul class="flex gap-4">
            <li>
              <a
                href="/"
                class="h-8 flex items-center gap-2 text-lg font-bold text-gray-900 hover:text-blue-600 transition-colors duration-200"
                ><img
                  src="/favicon-96x96.png"
                  alt="BestIn.world"
                  class="h-8 w-8 inline-block"
                  loading="lazy"
                />BestIn.world</a
              >
            </li>
          </ul>
        </nav>
        <div class="flex items-center">
          <SearchButton />
        </div>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        © BestIn.world, {
          new Date().toLocaleDateString("en", {
            month: "long",
            year: "numeric"
          })
        }
      </p>
      <p class="text-sm text-gray-400">{locales.data_source_info()}</p>
      <p>
        <a
          class="a"
          href="https://github.com/mitica/bestin.world"
          target="_blank"
          rel="noopener noreferrer">Made with</a
        > ❤️ in <a href="/moldova" class="hover:underline hover:text-gray-600"
          >Moldova</a
        >
      </p>
    </footer>
    <SearchModal />
    <!-- 100% privacy-first analytics -->
    <script is:inline src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
  </body>
</html>
